body{
    font-family: Inter;
}

.header-section{
    background: rgb(102,30,27);
    background: linear-gradient(90deg, rgba(102,30,27,1) 0%, rgba(163,46,40,1) 35%, rgba(163,46,40,1) 100%);
}


.content-section{
    background-color: #F9F2ED;
    color: #2D2D2D;
}
.content-section span{
    color:#E87003;
}
.products-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.products-grid > div {
    position: relative;
}

.products-grid > div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; /* Adjust this value to control the spacing between the rows */
    width: 100%;
    height: 1px;
    background-color: #EDD9C8;; /* You can change the color of the line here */
}


@media (min-width:368px) {
    .products-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    } 
}
@media (min-width:768px) {
    .products-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
    } 
}

@media (min-width:992px) {
    .products-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 40px;
    } 
}

.products-grid__item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.products-grid__item-img-wrapper{
    background-color: #fff;
}

.products-grid__item img{
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    padding: 20px;
}